body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  margin-top: 20%;
}
